{% extends 'homebase.html.twig' %}

{% block title %}About Us|{{setting[0].title}}{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}} {% endblock %}

{% block body %}

    <!-- Subintro
================================================== -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Lumia - Multipurpose responsive bootstrap website template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="BAH-IBRAHIMA">
    <!-- styles -->
    <link href="{{asset('assets')}}/css/bootstrap.css" rel="stylesheet">
    <link href="{{asset('assets')}}/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{asset('assets')}}/css/prettyPhoto.css" rel="stylesheet">
    <link href="{{asset('assets')}}/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="{{asset('assets')}}/css/flexslider.css" rel="stylesheet">

    <link href="{{asset('assets')}}/css/style.css" rel="stylesheet">
    <link href="{{asset('assets')}}/color/default.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,600,400italic|Open+Sans:400,600,700" rel="stylesheet">

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="{{asset('assets')}}/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('assets')}}/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('assets')}}/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('assets')}}/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{asset('assets')}}/ico/apple-touch-icon-57-precomposed.png">

    <!-- =======================================================
      Theme Name: Lumia
      Theme URL: https://bootstrapmade.com/lumia-bootstrap-business-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>


<body>
    <div id="wrapper">

        <!-- Subintro
        ================================================== -->
        <section id="subintro">
            <div class="container">
                <div class="row">
                    <div class="span8">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                            <li><a href="#">Appartement</a><i class="icon-angle-right"></i></li>
                            <li class="active">Appartement</li>
                        </ul>
                    </div>
                    <div class="span4">
                        <div class="search">
                            <form class="input-append">
                                <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                                <button class="btn btn-dark" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="maincontent">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <ul class="filter">
                            <li class="all active"><a href="#" class="btn">Photo des Appartements</a></li>
                            <li class="web"><a href="#" class="btn">Villa du Bas</a></li>
                            <li class="brand"><a href="#" class="btn">Villa du Haut</a></li>

                        </ul>
                    </div>
                </div>
                <div class="row">
                    <ul class="portfolio-area da-thumbs">
                        <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/haut1.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/haut1.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/haut1.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du haut
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/haut2.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/haut2.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/haut2.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du Haut
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/haut3.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/haut3.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/haut3.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du Haut
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/haut4.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/haut4.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/haut4.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du Haut
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="web">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/bas1.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/bas1.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/bas1.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="web">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/bas2.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/bas2.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/bas2.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="web">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/bas3.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/bas3.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/bas3.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="web">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/bas4.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/bas4.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/bas4.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="web">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/bas5.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/bas5.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/bas5.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="portfolio-item" data-id="id-0" data-type="web">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/bas6.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/bas6.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/bas6.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="portfolio-item" data-id="id-0" data-type="web">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/bas7.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/bas7.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/bas7.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="portfolio-item" data-id="id-0" data-type="web">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/bas8.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/bas8.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/bas8.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="portfolio-item" data-id="id-0" data-type="web">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/bas4.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/bas4.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/bas4.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="portfolio-item" data-id="id-0" data-type="web">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/bas4.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/bas4.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/bas4.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/haut5.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/haut5.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/haut5.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du Haut
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/haut6.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/haut6.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/haut6.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du Haut
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/haut7.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/haut7.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/haut7.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du Haut
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/haut8.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/haut8.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/haut8.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du Haut
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/haut9.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/haut9.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/haut9.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du Haut
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/haut10.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/haut10.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/haut10.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du Haut
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>

                         <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/bas9.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/bas9.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/bas9.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                         <li class="portfolio-item" data-id="id-0" data-type="brand">
                            <div class="span4">
                                <div class="thumbnail">
                                    <div class="image-wrapp">
                                        <img src="{{asset('assets')}}/img/dummies/portailbas.jpg" alt="Portfolio name" title="" />
                                        <article class="da-animate da-slideFromRight">
                                            <a class="zoom" data-pretty="prettyPhoto" href="{{asset('assets')}}/img/dummies/portailbas.jpg">
                                                <i class="icon-zoom-in icon-rounded icon-48 active"></i>
                                            </a>
                                            <a href="{{asset('assets')}}/img/dummies/portailbas.jpg">
                                                <i class="icon-link icon-rounded icon-48 active"></i>
                                            </a>
                                            <div class="hidden-tablet">
                                                <p>
                                                    Villa du bas
                                                </p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="span12">
                        <div class="pagination">
                            <ul>
                                <li><a href="#">Prev</a></li>

                                <li class="active"><a href="#">1</a></li>

                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer
        ================================================== -->

    </div>
    <!-- end wrapper -->
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-48 active"></i></a>
    <script src="{{asset('assets')}}/js/jquery.js"></script>
    <script src="{{asset('assets')}}/js/raphael-min.js"></script>
    <script src="{{asset('assets')}}/js/jquery.easing.1.3.js"></script>
    <script src="{{asset('assets')}}/js/bootstrap.js"></script>
    <script src="{{asset('assets')}}/js/google-code-prettify/prettify.js"></script>
    <script src="{{asset('assets')}}/js/jquery.elastislide.js"></script>
    <script src="{{asset('assets')}}/js/jquery.prettyPhoto.js"></script>
    <script src="{{asset('assets')}}/js/jquery.flexslider.js"></script>
    <script src="{{asset('assets')}}/js/jquery-hover-effect.js"></script>
    <script src="{{asset('assets')}}/js/portfolio/jquery.quicksand.js"></script>
    <script src="{{asset('assets')}}/js/portfolio/setting.js"></script>
    <script src="{{asset('assets')}}/js/animate.js"></script>

    <!-- Template Custom JavaScript File -->
    <script src="{{asset('assets')}}/js/custom.js"></script>

</body>

</html>


{% endblock %}